.headings {
    background-color: rgb(99, 189, 169);
    width: 600px;
    height: 100px;
    margin-top: 1%;
    margin-left: 30%;
    box-shadow: 10px 10px 3px rgb(60, 60, 117);
}

.headings h1 {
    margin-left: 35%;
    padding-top: 30px;
}

.check {
    margin-top: 5%;
    margin-left: 40%;
}

input[type="text"] {
    width: 230px;
    height: 35px;
    border: 2px solid blue;
    border-radius: 24px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.btn {
    width: 100px;
    height: 40px;
    border: 1px solid blue;
    background-color: transparent;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 2px 4px 5px blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-transform: capitalize;
    color: rgb(150, 184, 246);
}

.checklist {
    margin-left: 42%;
    margin-top: 2%;
}

.card {
    background-color: rgb(21, 24, 31);
    width: 250px;
    height: 35px;
    padding: 10px;
    box-shadow: 6px 5px 5px rgb(105, 77, 158);
    border-radius: 24px;
}

input[type="checkbox"] {
    margin-top: 10px;
    margin-left: 30%;
    padding-left: 10px;
    cursor: pointer;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.cur {
    cursor: pointer;
    width: 60px;
    height: 30px;
}